html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--clr-light: hsl(9, 100%, 99%);
	--clr-med: hsl(9, 41%, 87%);
	--clr-heavy: hsl(9, 9%, 48%);
	--clr-dark: hsl(9, 1%, 38%);
	--icon-del: url(./icons/delete-circle-outline.png);
}

body {
	font-size: 1rem;
	background-color: var(--clr-light);
}

.form-container {
	/* display: none; */
	/* position: fixed; */
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.icon-delete,
.icon-close,
.icon-statusChange {
	height: 30px;
	width: 30px;
	clip-path: circle();
	background-color: var(--clr-heavy);
}
