html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	/* layout */
	--margin: 2rem;
	--padding: 2rem;
	--brdr-rad: 7px;
	/* colours */
	--clr-lighter: hsl(2, 100%, 98.5%);
	--clr-light: hsl(2, 100%, 94%);
	--clr-med: hsl(2, 39%, 88%);
	--clr-dark: hsl(2, 9%, 48%);
	--clr-heavy: hsl(2, 9%, 23.6%);
}

.body {
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--clr-heavy);
	background-color: var(--clr-lighter);
	width: 100vw;
	height: 100vh;
}

/**
 container-all
*/
.container {
	display: grid;
	grid-template-rows: 10% 5% 40% 40% 5%;
	grid-template-areas:
		'title'
		'button'
		'card'
		'form'
		'footer';
}

/**
 title
*/
.title {
	grid-area: title;
	font-size: 5rem;
	justify-self: center;
	align-self: center;
}

/**
 button 
*/
.bttn-addBook {
	grid-area: button;
	width: 180px;
	height: 50px;
	border-radius: var(--brdr-rad);
	outline: none;
	border: none;
	background-color: var(--clr-dark);
	color: white;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	align-self: center;
	justify-self: center;
}

/**
 card-container  
*/
.card-container {
	grid-area: card;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	margin: var(--margin);
	padding: var(--padding);
	gap: 2rem;
}
.card-book {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 250px;
	overflow: auto;
	padding: var(--padding);
	background-color: var(--clr-light);
	color: var(--clr-heavy);
	border-radius: var(--brdr-rad);
}
.card-title {
	font-size: 3rem;
	margin: 0px;
	font-weight: 500;
}
.card-author {
	font-style: italic;
	margin: 1.25rem 0px;
}
.card-review {
	border-radius: var(--brdr-rad);
	width: calc(250px - 4rem);
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.icon-card-container {
	width: calc(250px - 4rem);
	display: flex;
	justify-content: space-evenly;
}
.icon-delete,
.icon-statusChange {
	background-color: var(--clr-dark);
	clip-path: circle();
	height: 30px;
	width: 30px;
}

/**
 form-container 
*/
.form-container {
	grid-area: form;
	margin: var(--margin);
	padding: var(--padding);
	height: 566px;
	width: 350px;
	background-color: var(--clr-light);
	border-radius: var(--brdr-rad);
	/* modal */
	position: fixed;
	left: calc(50% - 175px);
	top: calc(50% - 283px);
	visibility: hidden;
	transform: scale(1.1);
}
#bookForm {
	display: grid;
	grid-template-rows: 9% 91%;
	justify-items: center;
	align-content: space-between;
	font-family: inherit;
	color: var(--clr-heavy);
}
.icon-close {
	margin-left: auto;
	background-color: var(--clr-dark);
	clip-path: circle();
	height: 30px;
	width: 30px;
}
.form-fieldset {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}
input[type='text'],
input[type='number'] {
	border: none;
	outline: none;
	height: 30px;
	width: 273.5px;
	border-radius: var(--brdr-rad);
	padding: 0px 1rem;
	font-family: inherit;
	color: var(--clr-dark);
}
input:focus,
input:hover {
	outline: 2px solid var(--clr-dark);
}

select {
	outline: none;
	border: none;
	height: 30px;
	border-radius: var(--brdr-rad);
	background-color: white;
	color: var(--clr-dark);
}
select:focus,
select:hover {
	outline: 2px solid var(--clr-dark);
}
label {
	color: var(--clr-dark);
}
textarea {
	outline: none;
	border: none;
	border-radius: var(--brdr-rad);
	resize: none;
	font-family: inherit;
	margin-left: 2px;
	padding: 0.5rem;
	color: var(--clr-dark);
}
.bttn-submit {
	width: 180px;
	height: 35px;
	align-self: center;
	outline: none;
	border: none;
	background-color: var(--clr-dark);
	color: white;
	border-radius: var(--brdr-rad);
	font-size: 2rem;
	font-family: inherit;
	font-weight: 500;
}

/**
 footer 
*/
.footer {
	grid-area: footer;
	position: static;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
}
a {
	text-decoration: none;
	color: var(--clr-heavy);
}
